.panel-icon {
   width: 25px;
   height: 25px;
   margin-top: auto;
   margin-bottom: auto;
   background-size: contain;
   background-repeat: no-repeat;
   cursor: pointer !important;
   background-size: 85%;
   background-position: center;
}