$backgroundColor: rgb(245, 245, 245);
$fontColor: #3d3d3d;
$borderColor: #3d3d3d;
$selectedBorderColor: lightgreen;
$panelColor: rgb(252, 252, 252);
$rowSeperator: #ddd;
$selectedColor: rgb(245, 245, 245);